body{
    background: #20152d;
}
#buttondiv{
    margin: 0;
    padding: 0;
}
#buttondiv a{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
#buttondiv a:hover{
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}
#buttondiv a:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    filter: blur(20px);
    opacity: 0;
    transition: 0.5s;
}
#buttondiv a:hover:before{
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 30px;
    height: 30px;
}
#emoji{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    
}
.rating{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.rating input{
    display: none;
}
.rating label{
    position: relative;
    width: 0;
    height: 128px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
}
.rating:hover label{
    width: 60px;
    opacity: 0.2;
}
.rating input:hover +  label,
.rating input:checked + label{
    filter: grayscale(0);
    opacity: 1;
    width: 60px;
}
.rating label h4{
    color: #fff;
    font-size: 24px;
    padding-top: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    transition: 0.5s;
}
.rating input:hover + label h4,
.rating input:checked + label h4
{
    opacity: 1;
    transform: translateY(0) scale(1);
}
.text{
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    min-width: 500px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
}